*
{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    overflow-y:  hidden ;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.dashboard_container
{

height: 100vh;
width: 100%;
display: flex;

}
.option_container
{
    
    width:  20%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    background-color: #193e58;
}
.logo
{
  
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.device_options
{
   
    height: 40%;
    display: flex;
    padding: 10px 15px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.the_options
{

    height: 25%;
    cursor: pointer;
    list-style: none;
    color: #FECE00;
    display: flex;
    padding: 5px 5px;
    justify-content: start;
    align-items: center;
   
    font-size: 1.3rem;
width: 100%;
}


.the_options:hover
{
    border: 2px solid #FECE00;
    border-radius: 20px;
}
.the_options img
{
    margin: 0px 15px;
    width: 20%;
    height: 90%;
}

.prolog
{
   
    height: 25%;
    display: flex;
    margin: 10px 0px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    flex-direction: column;
}
.prolog a
{
   
    width: 100%;
    height: 40%;
display: flex;
justify-content: start;
align-items: center;
font-size: 20px;
text-decoration: none;
color: #FECE00;
}

#logoutbtn
{
    width: 100%;
    height: 40%;
    cursor: pointer;
    background: none;
    border: none;
    border: 2px solid #FECE00;
    color: #FECE00;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prolog a:hover
{
    border: 2px solid #FECE00;
    border-radius: 20px;
}


.prolog a img
{
    margin: 0px 15px;
    width: 15%;
    height: 60%;
}


.device_container
{

    width: 80%;
    overflow-y: auto;
}
.toppart
{
   
    height: 15%;
    background-color: #FECE00;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.welcome
{

    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    
}
.welcome h3
{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}
.adddevice
{

    height: 100%;

    width: 70%;
    display: flex;
    padding: 0px 30px;
    justify-content: end;
    align-items: center;
}
.adddevice button
{
    width: 25%;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: #193e58;
    color: white;
    height: 60%;
}
.adddevice button img
{
    display: none;
}
.lowerpart
{
   
    height: 130vh;
    padding: 10px 8px;
justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,auto);
}
.lower_part_1
{
    height: 50%;
    margin: 5px 0px;
    width: 100%;
    justify-content: space-around;
    display: flex;

}
.lower_part_2
{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin: 5px 0px;
    justify-content: space-around;
    display: flex;  
}
#temperature_graph
{
  
height: 98%;
display: flex;
justify-content: center;
align-items: center;
width:48%;
}
#chart_div_vibration
{
    
    height: 98%;
    width:48%;
}

.meter {
    position: relative;
    height: 95%;
    width:48%;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #humidity
  {
    
    height: 100%;
    width:100%;
  }
  #voltage_display
  {
font-size: 2vw;
  }
  
  #add_form
  {

    display: flex;
    width: 100%;
    justify-content: space-around;
  }
#add_device_submit
{
    width: 80px;
    height: 50px;
    font-size: 18px;
    background-color: #193e58;
    color: #f2f2f2;
}
#add_device_input, #device_location_input
{
    height: 50px;
    width:  230px;
    padding: 2px 10px;
    outline: none;
    font-size: 18px;
}

.deviceslist
{
    overflow-y: auto;

    height: 85%;
    width: 100%;
display: grid;
grid-template-columns: repeat(4,auto);
    padding: 30px;
 
}
.devices_card
{
   
    width: 200px;
    height: 180px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 10px;
    border-radius: 15px ;
    background-color: #fecf009d;
}

.getdata_for_date
{
 
    height: 15%;
}
#thedate
{
    height: 100%;
    width: 200px;
    font-size: 16px;
}
#showdatasub
{
    height: 100%;
    width: 100px;
    background-color: #193e58;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}







/*   
  @media screen and (min-width: 349px)
  {
    .dashboard_container
    {
        flex-direction: column;
        overflow: hidden;
    }
    .option_container {
        order: 2;
        z-index: 1;
        position: fixed;
        height: 10vh;
        bottom: 0;
        width: 100%;
        flex-direction: row;
    }
    .logo
    {
        display: none;
    }
    .device_options
    {
        flex-direction: row;
        width: 80%;
        justify-content: start;
            height: 100%;
            padding: 4px 3px;
    }

.the_options
{
height: 100%;
margin: 1px 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: .8rem;
width: 30%;

}
.the_options span
{
  text-align: center;
  margin: 2px 0px;
  font-size: 14px;
}

.the_options img
{

width: 50%;
height: 60%;
margin: 3px 0px;

}


.prolog
{
    width: 30%;
    height: 100%;
    margin: 0 0;
    padding: 7px 4px;
    flex-direction: row;
}
    .device_container
    {
        border: 2px solid yellowgreen;
        height: 90vh;
        width: 100%;
    }

.prolog a span
{
    font-size: 14px;
}
#logoutbtn
{
    height: 100%;
    display: flex;
    border: none;
    flex-direction: column;
    width: 80%;
    margin: 1px 4px;
}
.prolog a img
{margin: 0px 5px;
    width: 56%;
    height: 60%;
}
.toppart {
    
    justify-content: space-between;
  
}
.welcome {
    width: 66%;
}
.add_button_img
{
    width: 90%;
    height: 100%;
}
.adddevice
{
    justify-content: center;
    align-items: center;
    width: 28%;
}
.welcome h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
.adddevice button {
    width: 43%;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: #193e58;
    color: white;
    height: 50%;
}
.adddevice button span
{
    display: none;
}
.lowerpart
{
    height: 110vh;
}
.lower_part_1
{
    height: 60%;
    flex-direction: column;
  
        
        align-items: center;
        justify-content: center;
       
    
}
.meter {
    height: 19%;
    width: 37%;
    margin: 4px 5px;
}
#voltage_display
{
    font-size: 3.5vw;
}
#chart_div_vibration {
    width: 45vh;
    height: 95%;
}
.lower_part_2
{
    height: 50%;
}

#humidity {
    height: 48vh;
    width: 100vh;
}


  } */