.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader
{
    background: #193E58 ;
    z-index: 10000000;
    height: 100%;
    display: flex;
    color: #fece00;
    font-family:selina ;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
}
#preloader h1
{
    transition: 2s cubic-bezier(0.9, 0.03, 0.37, 0.99);
    animation: drop 2s ease-in-out ;
    font-size: 6rem;
}

#preloader span
{
    position: relative;
    display: inline-block;
    
}
.let1 {
    animation: drop 1.4s ease-in infinite;
    animation-delay: 1s;
  }
  
  .let2 {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay: 1.1s;
  }
  
  .let3 {
    animation: drop 1.4s ease-in-out infinite ;
    animation-delay: 1.2s;
  }
  
  .let4 {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay: 1.3s;
  
  }
  
  .let5 {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay: 1.4s;
  }
  
  .let6 {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay: 1.5s;
  }
  
  .let7 {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay: 1.6s;
  }
  .let8
  {
    animation: drop 1.4s ease-in-out infinite;
    animation-delay:1.7s;
  }
  @keyframes drop {
      10% {
          opacity: 0.8;
      }
    
      90% {
          opacity: 0.5;
      }
      100% {
          opacity: 0;
        
      }
  }
.loginBox{
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px black;
}
.loginBoxLeft{
    background-color: #0A2534;
    height: 100%;
    width: 40%;

}
.loginBoxRight{
    background-color: white;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBoxRightContent{
    width: 80%;
    height: 80%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.loginBoxRightContentRap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.loginBoxRightContent form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 40px;
}
.loginBoxRightContent form .loginBoxRightBtn{
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    align-items: center;
}
.loginBoxRightContent form input{
    height: 3vw;
}
.loginBoxRightContent form input:nth-child(1), input:nth-child(2){
    background: none;
    border: none;
    border-bottom: 2px solid #193e58;
    font-size: 1.6vw;
}
.loginBoxRightBtn input{
    text-align: center;
    height: 4vw !important;
    border-radius: 50px;
    font-size: 2vw;
    width: 40%;
    border: none;
    box-shadow: 0 0 3px 0 black;
    background-color: #FECE00;
    color: #0A2534;
    cursor: pointer;
}
.loginBoxRightBtn input:hover{
    background-color: #0A2534;
    color: #FECE00;
}
.loginBoxRightBtn a{
    color: red;
}
.loginBoxRightContent input:focus{
    outline: none;
    
}

.loginBoxRightImg{
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}
.loginBoxRightImg img{
    width: 50%;
}










.loginBoxLeftContent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBoxLeftContentRap{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}
.loginBoxLeftContentLoginBox{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.loginBoxLeftContentLoginBox img{
    width: 50%;
    position: absolute;
}
.loginBoxLeftContentLoginBox h1{
    z-index: 2;
    margin-right: 2.5vw;
    font-size: 3vw;
    font-family: scretches;
}
.loginBoxLeftContentSignupBox h1{
    margin-right: 2.5vw;
    font-size: 3vw;
    font-family: scretches;
    color: #FECE00;
}
.loginBoxLeftContentSignupBox{
    cursor: pointer;
    padding-left: 30px;
}
